/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    display: flex; /* Add this to enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
}

/* Style for the user card */
.user-card {
    width: 100%;
    max-width: 300px; /* Adjust the max-width to your preference */
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

/* Style for the user's name */
.user-card div {
    font-size: 1.5rem;
    margin: 0;
}

/* Hide the user form by default */
.user-form {
    display: none;
    width: 100%;
    max-width: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

/* Style for the button */
#openFormButton{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive design using media queries */
@media (max-width: 768px) {
    .user-card {
        max-width: 100%; /* Adjust for smaller screens */
    }
    .user-form {
        max-width: 100%; /* Adjust for smaller screens */
    }
}